body {
    padding    : 0;
    margin     : 0;
    width      : 100%;
    background : #fad7f6;
}

#app\.js {
    max-width       : 1000px;
    box-sizing      : border-box;
    height          : 100%;
    display         : flex;
    margin          : auto;
    flex-wrap       : wrap;
    object-fit      : cover;
    justify-content : center;
}

.main-wrapper {
    margin : 10px;
}

.book-wrapper {
    width : 300px;
}

.book-section {
    width         : 300px;
    height        : 460px;
    background    : white;
    box-sizing    : border-box;
    padding-left  : 50px;
    border        : 1px solid #b360aa;
    border-radius : 5px;
}

.book-section:hover {
    box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-img {
    width      : 200px;
    height     : 300px;
    object-fit : cover;
    margin-top : 20px;
}

p {
    margin      : 10px 0 10px 0;
    font-family : sans-serif;
}

.book-name {
    font-size : 21px;
    width     : 200px;
    flex-wrap : wrap;
}

.book-author {
    font-size : 13px;
}

.book-price {
    color       : red;
    font-size   : 16px;
    margin      : 0;
    padding-top : 7px;
}

.price-wrapper {
    box-sizing      : border-box;
    display         : flex;
    width           : 200px;
    justify-content : space-between;
}

.buy-button {
    color         : white;
    background    : #FF7F50;
    border        : none;
    border-radius : 5px;
    font-size     : 16px;
    width         : 80px;
    height        : 25px;
}

.buy-button:active {
    background : #eb6060;
}

.img-star {
    width  : 20px;
    height : 20px;
}